<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sowify.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>755AAF74DBCEC598C52678619D6B3B11081FE600</string>
				<key>dateExpires</key>
				<string>12.12.23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V73TDMAF88.com.bacata.Sowify</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V73TDMAF88</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Sowify.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e107e104-0908-4bc1-a406-fdfecb173a45</string>
				<key>dateExpires</key>
				<string>15.12.23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V73TDMAF88</string>
				<key>name</key>
				<string>Vasil Borisov</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
